# Virtual environment
.venv/
atlas/

# Python
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
build/
dist/
*.egg-info/

cred.txt

.dvc/
.dvcignore
data/
models/